@mixin frontend-token($property, $token, $defaultValue) {
    #{$property}: $defaultValue;
    #{$property}: var($token, $defaultValue);
}

@mixin background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin rgba-frontend-token($property, $token, $defaultValue, $alpha) {
    #{$property}: rgba($defaultValue, var($alpha, 0.067));
    #{$property}: rgba(var($token, $defaultValue), var($alpha, 0.067));
}