$brand-primary: #71d2e8;
$primary: $brand-primary;

$light-color: theme-color-level($brand-primary, 1) !default;
$dark-color: theme-color-level($brand-primary, -1) !default;
$complementary-color: complement($brand-primary);
$invert-color: invert($brand-primary);

$brand-info: $light-color;
$brand-inverse: $invert-color;

$off-white: $gray-300;

$body-bg: $white !default;
$border-color: $off-white !default;
$bright-color: $brand-primary !default;
$input-bg: $off-white !default;
$btn-outline-secondary-color: $complementary-color !default;
$portlet-decorate-bg: $white !default;

$color-fg: #2b395e;
$color-fg-alt: $gray-600;

// a lighter shadow for cards specific to Creative

$color-shadow-creative: $off-white !default;

$color-bg: $white !default;
$color-bg-medium: $off-white !default;
$color-bg-alt: $white !default;
$color-bg-dark: $dark-color !default;
$color-border: $border-color !default;
$color-shadow: rgba($color-bg, 0.14) !default;
$color-disabled: $gray-500 !default;

$color-theme: $primary !default;
$color-theme-dark: $dark-color !default;
$color-theme-light: $light-color !default;
$color-theme-transparent: rgba($brand-primary, 0.067) !default;

$color-modal-mask: rgba($dark-color, 0.6) !default;

$color-mood-good: $success !default;
$color-mood-neutral: $warning !default;
$color-mood-bad: $danger !default;
$color-mood-bad-bg: $light !default;

$placeholder-colors: (
	#9be2bd,
	#b3eff5,
	#fee4b8,
	#ffb78c,
	#ff83a3,
	#f5b3ef,
	#b48ff7,
	#639dff
);