@mixin frontend-token($property, $token, $defaultValue) {
	#{$property}: $defaultValue;
	#{$property}: var($token, $defaultValue);
}
@mixin background-cover() {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }