// Header

$upperHeaderBackground: #2b395e;
$upperHeaderBackgroundBlend: #2b395e;
$upperHeaderTextColor: #fff;

$siteLogoHeight: 24px;
$siteLogoWidth: auto;

$lowerHeaderBackground: #fff;
$lowerHeaderBackgroundBlend: #fff;
$lowerHeaderFlexDirection: row;
$lowerHeaderTextColor: #646f80;

// Footer

$footerBackground: #2b395e;
$footerBackgroundBlend: #2b395e;
$footerTextColor: $white;
$footerLiferayTextColor: #646f80;