// Header

$lowerHeaderBackground: $white;
$lowerHeaderBackgroundBlend: $white;
$lowerHeaderFlexDirection: row;
$lowerHeaderTextColor: $gray-700;
$siteLogoHeight: 56px;
$siteLogoWidth: auto;
$upperHeaderBackground: $primary;
$upperHeaderBackgroundBlend: $primary;
$upperHeaderTextColor: $white;

// Footer

$footerBackground: $primary;
$footerBackgroundBlend: $primary;
$footerTextColor: $white;
$footerLiferayTextColor: $gray-700;