// Header
$upperHeaderBackground: #2b395e !default;
$upperHeaderBackgroundBlend: #2b395e !default;
$upperHeaderTextColor: #fff !default;
$lowerHeaderBackground: #fff !default;
$lowerHeaderBackgroundBlend: #fff !default;
$lowerHeaderFlexDirection: row !default;
$lowerHeaderTextColor: #2b395e !default;
// Footer
$footerBackground: #2b395e !default;
$footerBackgroundBlend: #2b395e !default;
$footerTextColor: $white !default;
$footerLiferayTextColor: #646f80 !default;